.bg-1 {
    background-color: #E1FEFE
}

.bg-2 {
    background-color: #E3EBFD
}

.bg-3 {
    background-color: #E7DCFC
}

.bg-4 {
    background-color: #E0C7EE
}

.bg-5 {
    background-color: #F8D5F8
}

.bg-6 {
    background-color: #E0E0F3
}

.bg-7 {
    background-color: #D4D2F2
}

.bg-8 {
    background-color: #DBCDE3
}

.bg-9 {
    background-color: #E5D0E2
}

.bg-10 {
    background-color: #F5E8F7
}

.bg-11 {
    background-color: #FFF5ED
}

.bg-12 {
    background-color: #FAE0D8
}

.bg-13 {
    background-color: #F0F4BF
}

.bg-14 {
    background-color: #DFE1BE
}

.bg-15 {
    background-color: #F1DEEE
}

.bg-16 {
    background-color: #FADCDC
}

.bg-17 {
    background-color: #FCEEE2
}

.bg-18 {
    background-color: #F3EBD2
}

.bg-19 {
    background-color: #EBECE7
}

.bg-20 {
    background-color: #E5F9FE
}

.bg-21 {
    background-color: #FDFFE4
}

.bg-22 {
    background-color: #F8F2E0
}

.bg-23 {
    background-color: #EBECE7
}

.bg-24 {
    background-color: #FFE2D1
}

.bg-25 {
    background-color: #F3D6CE
}

.bg-26 {
    background-color: #FFF3D7
}

.bg-27 {
    background-color: #FCEE9E
}

.bg-28 {
    background-color: #F6C6C7
}

.bg-29 {
    background-color: #92CEA8
}

.bg-30 {
    background-color: #8BD2EC
}

.bg-31 {
    background-color: #FCF6BD
}

.bg-32 {
    background-color: #D0F4DE
}

.bg-33 {
    background-color: #C0E4F6
}

.bg-34 {
    background-color: #FFBBDA
}

.bg-35 {
    background-color: #E8CFF8
}

.bg-36 {
    background-color: #A8D1E7
}

.bg-37 {
    background-color: #B3DBD8
}

.bg-38 {
    background-color: #F8F5FD
}

.bg-39 {
    background-color: #FEE5E0
}

.bg-40 {
    background-color: #FFBFC5
}

.bg-41 {
    background-color: #ECF8F8
}

.bg-42 {
    background-color: #EEE4E1
}

.bg-43 {
    background-color: #E7D8C9
}

.bg-44 {
    background-color: #E6BEAE
}

.bg-45 {
    background-color: #B2967D
}

.bg-46 {
    background-color: #B5B1C8
}

.bg-47 {
    background-color: #F8E8D3
}

.bg-48 {
    background-color: #E8ABB5
}

.bg-49 {
    background-color: #FBCCC2
}

.bg-50 {
    background-color: #695A5B
}

.bg-51 {
    background-color: #CFCAC7
}

.bg-52 {
    background-color: #DFC2C3
}

.bg-53 {
    background-color: #E4D5E3
}

.bg-54 {
    background-color: #BFCED6
}

.bg-55 {
    background-color: #D9E1E2
}

.bg-56 {
    background-color: #FFF8F8
}

.bg-57 {
    background-color: #ECDBC9
}

.bg-58 {
    background-color: #F898A4
}

.bg-59 {
    background-color: #ADD495
}

.bg-60 {
    background-color: #80B7A2
}

.bg-61 {
    background-color: #F6F5F0
}

.bg-62 {
    background-color: #F0E4D7
}

.bg-63 {
    background-color: #F3D8D1
}

.bg-64 {
    background-color: #CED6D0
}

.bg-65 {
    background-color: #C7BBBC
}

.bg-66 {
    background-color: #DADBD6
}

.bg-67 {
    background-color: #D2DBD6
}

.bg-68 {
    background-color: #B5A3A1
}

.bg-69 {
    background-color: #656C5C
}

.bg-70 {
    background-color: #2E3136
}

.bg-71 {
    background-color: #DEE2EB
}

.bg-72 {
    background-color: #DDD8D2
}

.bg-73 {
    background-color: #DBCEC5
}

.bg-74 {
    background-color: #9A9E8D
}

.bg-75 {
    background-color: #577460
}

.bg-76 {
    background-color: #E6C2BF
}

.bg-77 {
    background-color: #EED6D3
}

.bg-78 {
    background-color: #928880
}

.bg-79 {
    background-color: #2A505A
}

.bg-80 {
    background-color: #E3E1DA
}

.bg-81 {
    background-color: #75464A
}

.bg-82 {
    background-color: #AA7C7A
}

.bg-83 {
    background-color: #BEABA7
}

.bg-84 {
    background-color: #E8DBD4
}

.bg-85 {
    background-color: #E8E8E9
}

.bg-86 {
    background-color: #E2E3DE
}

.bg-87 {
    background-color: #CDC6BC
}

.bg-88 {
    background-color: #E0D9CF
}

.bg-89 {
    background-color: #787A79
}

.bg-90 {
    background-color: #464543
}

.bg-91 {
    background-color: #AF9F8C
}

.bg-92 {
    background-color: #7F867B
}

.bg-93 {
    background-color: #C7C7BB
}

.bg-94 {
    background-color: #D4C8BE
}

.bg-95 {
    background-color: #E3E4E0
}

.bg-96 {
    background-color: #293242
}

.bg-97 {
    background-color: #9DA2AE
}

.bg-98 {
    background-color: #A4A3A1
}

.bg-99 {
    background-color: #916848
}

.bg-100 {
    background-color: #B3A188
}

.bg-101 {
    background-color: #e51c23
}

.bg-102 {
    background-color: #fde0dc
}

.bg-103 {
    background-color: #f9bdbb
}

.bg-104 {
    background-color: #f69988
}

.bg-105 {
    background-color: #f36c60
}

.bg-106 {
    background-color: #e84e40
}

.bg-107 {
    background-color: #e51c23
}

.bg-108 {
    background-color: #dd191d
}

.bg-109 {
    background-color: #d01716
}

.bg-110 {
    background-color: #c41411
}

.bg-111 {
    background-color: #b0120a
}

.bg-112 {
    background-color: #e91e63
}

.bg-113 {
    background-color: #fce4ec
}

.bg-114 {
    background-color: #f8bbd0
}

.bg-115 {
    background-color: #f48fb1
}

.bg-116 {
    background-color: #f06292
}

.bg-117 {
    background-color: #ec407a
}

.bg-118 {
    background-color: #e91e63
}

.bg-119 {
    background-color: #d81b60
}

.bg-120 {
    background-color: #c2185b
}

.bg-121 {
    background-color: #ad1457
}

.bg-122 {
    background-color: #880e4f
}

.bg-123 {
    background-color: #9c27b0
}

.bg-124 {
    background-color: #f3e5f5
}

.bg-125 {
    background-color: #e1bee7
}

.bg-126 {
    background-color: #ce93d8
}

.bg-127 {
    background-color: #ba68c8
}

.bg-128 {
    background-color: #ab47bc
}

.bg-129 {
    background-color: #9c27b0
}

.bg-130 {
    background-color: #8e24aa
}

.bg-131 {
    background-color: #7b1fa2
}

.bg-132 {
    background-color: #6a1b9a
}

.bg-133 {
    background-color: #4a148c
}

.bg-134 {
    background-color: #673ab7
}

.bg-135 {
    background-color: #ede7f6
}

.bg-136 {
    background-color: #d1c4e9
}

.bg-137 {
    background-color: #b39ddb
}

.bg-138 {
    background-color: #9575cd
}

.bg-139 {
    background-color: #7e57c2
}

.bg-140 {
    background-color: #673ab7
}

.bg-141 {
    background-color: #5e35b1
}

.bg-142 {
    background-color: #512da8
}

.bg-143 {
    background-color: #4527a0
}

.bg-144 {
    background-color: #311b92
}

.bg-145 {
    background-color: #3f51b5
}

.bg-146 {
    background-color: #e8eaf6
}

.bg-147 {
    background-color: #c5cae9
}

.bg-148 {
    background-color: #9fa8da
}

.bg-149 {
    background-color: #7986cb
}

.bg-150 {
    background-color: #5c6bc0
}

.bg-151 {
    background-color: #3f51b5
}

.bg-152 {
    background-color: #3949ab
}

.bg-153 {
    background-color: #303f9f
}

.bg-154 {
    background-color: #283593
}

.bg-155 {
    background-color: #1a237e
}

.bg-156 {
    background-color: #5677fc
}

.bg-157 {
    background-color: #e7e9fd
}

.bg-158 {
    background-color: #d0d9ff
}

.bg-159 {
    background-color: #afbfff
}

.bg-160 {
    background-color: #91a7ff
}

.bg-161 {
    background-color: #738ffe
}

.bg-162 {
    background-color: #5677fc
}

.bg-163 {
    background-color: #4e6cef
}

.bg-164 {
    background-color: #455ede
}

.bg-165 {
    background-color: #3b50ce
}

.bg-166 {
    background-color: #2a36b1
}

.bg-167 {
    background-color: #03a9f4
}

.bg-168 {
    background-color: #e1f5fe
}

.bg-169 {
    background-color: #b3e5fc
}

.bg-170 {
    background-color: #81d4fa
}

.bg-171 {
    background-color: #4fc3f7
}

.bg-172 {
    background-color: #29b6f6
}

.bg-173 {
    background-color: #03a9f4
}

.bg-174 {
    background-color: #039be5
}

.bg-175 {
    background-color: #0288d1
}

.bg-176 {
    background-color: #0277bd
}

.bg-177 {
    background-color: #01579b
}

.bg-178 {
    background-color: #00bcd4
}

.bg-179 {
    background-color: #e0f7fa
}

.bg-180 {
    background-color: #b2ebf2
}

.bg-181 {
    background-color: #80deea
}

.bg-182 {
    background-color: #4dd0e1
}

.bg-183 {
    background-color: #26c6da
}

.bg-184 {
    background-color: #00bcd4
}

.bg-185 {
    background-color: #00acc1
}

.bg-186 {
    background-color: #0097a7
}

.bg-187 {
    background-color: #00838f
}

.bg-188 {
    background-color: #6064
}

.bg-189 {
    background-color: #9688
}

.bg-190 {
    background-color: #e0f2f1
}

.bg-191 {
    background-color: #b2dfdb
}

.bg-192 {
    background-color: #80cbc4
}

.bg-193 {
    background-color: #4db6ac
}

.bg-194 {
    background-color: #26a69a
}

.bg-195 {
    background-color: #9688
}

.bg-196 {
    background-color: #00897b
}

.bg-197 {
    background-color: #00796b
}

.bg-198 {
    background-color: #00695c
}

.bg-199 {
    background-color: #004d40
}

.bg-200 {
    background-color: #259b24
}

.bg-201 {
    background-color: #d0f8ce
}

.bg-202 {
    background-color: #a3e9a4
}

.bg-203 {
    background-color: #72d572
}

.bg-204 {
    background-color: #42bd41
}

.bg-205 {
    background-color: #2baf2b
}

.bg-206 {
    background-color: #259b24
}

.bg-207 {
    background-color: #0a8f08
}

.bg-208 {
    background-color: #0a7e07
}

.bg-209 {
    background-color: #056f00
}

.bg-210 {
    background-color: #0d5302
}

.bg-211 {
    background-color: #8bc34a
}

.bg-212 {
    background-color: #f1f8e9
}

.bg-213 {
    background-color: #dcedc8
}

.bg-214 {
    background-color: #c5e1a5
}

.bg-215 {
    background-color: #aed581
}

.bg-216 {
    background-color: #9ccc65
}

.bg-217 {
    background-color: #8bc34a
}

.bg-218 {
    background-color: #7cb342
}

.bg-219 {
    background-color: #689f38
}

.bg-220 {
    background-color: #558b2f
}

.bg-221 {
    background-color: #33691e
}

.bg-222 {
    background-color: #cddc39
}

.bg-223 {
    background-color: #f9fbe7
}

.bg-224 {
    background-color: #f0f4c3
}

.bg-225 {
    background-color: #e6ee9c
}

.bg-226 {
    background-color: #dce775
}

.bg-227 {
    background-color: #d4e157
}

.bg-228 {
    background-color: #cddc39
}

.bg-229 {
    background-color: #c0ca33
}

.bg-230 {
    background-color: #afb42b
}

.bg-231 {
    background-color: #9e9d24
}

.bg-232 {
    background-color: #827717
}

.bg-233 {
    background-color: #ffeb3b
}

.bg-234 {
    background-color: #fffde7
}

.bg-235 {
    background-color: #fff9c4
}

.bg-236 {
    background-color: #fff59d
}

.bg-237 {
    background-color: #fff176
}

.bg-238 {
    background-color: #ffee58
}

.bg-239 {
    background-color: #ffeb3b
}

.bg-240 {
    background-color: #fdc100
}

.bg-241 {
    background-color: #fbc02d
}

.bg-242 {
    background-color: #f9a825
}

.bg-243 {
    background-color: #f57f17
}

.bg-244 {
    background-color: #ffc107
}

.bg-245 {
    background-color: #fff8e1
}

.bg-246 {
    background-color: #ffecb3
}

.bg-247 {
    background-color: #ffe082
}

.bg-248 {
    background-color: #ffd54f
}

.bg-249 {
    background-color: #ffca28
}

.bg-250 {
    background-color: #ffc107
}

.bg-251 {
    background-color: #ffb300
}

.bg-252 {
    background-color: #ffa000
}

.bg-253 {
    background-color: #ff8f00
}

.bg-254 {
    background-color: #ff6f00
}

.bg-255 {
    background-color: #ff9800
}

.bg-256 {
    background-color: #fff3e0
}

.bg-257 {
    background-color: #ffe0b2
}

.bg-258 {
    background-color: #ffcc80
}

.bg-259 {
    background-color: #ffb74d
}

.bg-260 {
    background-color: #ffa726
}

.bg-261 {
    background-color: #ff9800
}

.bg-262 {
    background-color: #fb8c00
}

.bg-263 {
    background-color: #f57c00
}

.bg-264 {
    background-color: #ef6c00
}

.bg-265 {
    background-color: #e65100
}

.bg-266 {
    background-color: #ff5722
}

.bg-267 {
    background-color: #fbe9e7
}

.bg-268 {
    background-color: #ffccbc
}

.bg-269 {
    background-color: #ffab91
}

.bg-270 {
    background-color: #ff8a65
}

.bg-271 {
    background-color: #ff7043
}

.bg-272 {
    background-color: #ff5722
}

.bg-273 {
    background-color: #f4511e
}

.bg-274 {
    background-color: #e64a19
}

.bg-275 {
    background-color: #d84315
}

.bg-276 {
    background-color: #bf360c
}

.bg-277 {
    background-color: #795548
}

.bg-278 {
    background-color: #efebe9
}

.bg-279 {
    background-color: #d7ccc8
}

.bg-280 {
    background-color: #bcaaa4
}

.bg-281 {
    background-color: #a1887f
}

.bg-282 {
    background-color: #8d6e63
}

.bg-283 {
    background-color: #795548
}

.bg-284 {
    background-color: #6d4c41
}

.bg-285 {
    background-color: #5d4037
}

.bg-286 {
    background-color: #4e342e
}

.bg-287 {
    background-color: #3e2723
}

.bg-288 {
    background-color: #9e9e9e
}

.bg-289 {
    background-color: #fafafa
}

.bg-290 {
    background-color: #f5f5f5
}

.bg-291 {
    background-color: #eeeeee
}

.bg-292 {
    background-color: #e0e0e0
}

.bg-293 {
    background-color: #bdbdbd
}

.bg-294 {
    background-color: #9e9e9e
}

.bg-295 {
    background-color: #757575
}

.bg-296 {
    background-color: #616161
}

.bg-297 {
    background-color: #424242
}

.bg-298 {
    background-color: #212121
}

.bg-299 {
    background-color: #0
}

.bg-300 {
    background-color: #ffffff
}

.bg-301 {
    background-color: #607d8b
}

.bg-302 {
    background-color: #eceff1
}

.bg-303 {
    background-color: #cfd8dc
}

.bg-304 {
    background-color: #b0bec5
}

.bg-305 {
    background-color: #90a4ae
}

.bg-306 {
    background-color: #78909c
}

.bg-307 {
    background-color: #607d8b
}

.bg-308 {
    background-color: #546e7a
}

.bg-309 {
    background-color: #455a64
}

.bg-310 {
    background-color: #37474f
}

.bg-311 {
    background-color: #263238
}

.bg-312 {
    background-color: #9BC2B2
}

.bg-313 {
    background-color: #C5D6BA
}

.bg-314 {
    background-color: #F2E9D3
}

.bg-315 {
    background-color: #F6C8B6
}

.bg-316 {
    background-color: #CA9CAC
}

.bg-317 {
    background-color: #9292D1
}

.bg-318 {
    background-color: #B6BBC7
}

.bg-319 {
    background-color: #D6C3CE
}

.bg-320 {
    background-color: #ECD4D4
}

.bg-321 {
    background-color: #F5EED8
}

.bg-322 {
    background-color: #F5E3CB
}

.bg-323 {
    background-color: #9AA090
}

.bg-324 {
    background-color: #f2eddd
}

.bg-325 {
    background-color: #D3AD79
}

.bg-326 {
    background-color: #dbcfb1
}

.bg-327 {
    background-color: #9AA090
}

.bg-328 {
    background-color: #f4dccb
}

.bg-329 {
    background-color: #9b9484
}

.bg-330 {
    background-color: #ece4d4
}

.bg-331 {
    background-color: #d4ccc4
}

.bg-332 {
    background-color: #e4d4bc
}

.bg-333 {
    background-color: #c4bcac
}

.bg-334 {
    background-color: #9b9484
}

.bg-335 {
    background-color: #a47454
}

.bg-336 {
    background-color: #f9d4b4
}

.bg-337 {
    background-color: #dbbc8c
}

.bg-338 {
    background-color: #b49c74
}

.bg-339 {
    background-color: #9c7d5c
}

.bg-340 {
    background-color: #a47454
}

.bg-341 {
    background-color: #3a3420
}

.bg-342 {
    background-color: #ae917c
}

.bg-343 {
    background-color: #3a3420
}

.bg-344 {
    background-color: #6c2c10
}

.bg-345 {
    background-color: #44140c
}

.bg-346 {
    background-color: #2e0b06
}